<div class="flex align-items-center justify-content-center w-screen h-screen ">
  <form class="form-signin" [formGroup]="signInForm" (ngSubmit)="loginUser()">
    <div class="surface-card p-4 shadow-2 border-round">
      <div class="text-center mb-5">
        <img src="assets/img/logo-enterprise.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Bem vindo</div>
        <span class="text-600 font-medium line-height-3">Procurando o a versão do cliente?</span>
        <a href="http://localhost:4300/" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Clique Aqui!</a>
      </div>
      <div>
        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <small class="p-error block"
               *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.dirty">
          Formato de email incorreto
        </small>
        <input id="email"
               type="text"
               placeholder="Email address"
               pInputText
               class="w-full
               mb-3"
               formControlName="email"
        >
        <label for="password" class="block text-900 font-medium mb-2">Password</label>
        <input id="password"
               type="password"
               placeholder="Password"
               pInputText
               class="w-full
               mb-3"
               formControlName="password"
        >
        <button type="submit"
                pButton
                pRipple
                label="Sign In"
                icon="pi pi-user"
                class="w-full"
                [disabled]="signInForm.invalid"
        ></button>
      </div>
    </div>
  </form>
</div>
