<mat-toolbar class="example-header">Library</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">

    <div>
      <ul class="menu">
        <a [routerLink]="['/Books']">
          <li>Books</li>
        </a>
        <a [routerLink]="['/lancamentos']">
          <li>Genres</li>
        </a>
        <a [routerLink]="['/cadastro-de-lancamentos']">
          <li>Publisher</li>
        </a>
        <a [routerLink]="['/']">
          <li>Users</li>
        </a>
      </ul>
    </div>

  </mat-sidenav>





<mat-toolbar class="example-footer">Footer</mat-toolbar>



