.book-create {
  margin-right: 20px;
  button {
    color: whitesmoke;
    background-color: #259125;
    font-weight: bolder;
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
.book-cancel-update{
  button {
    color: whitesmoke;
    background-color: #dc2424;
    font-weight: bolder;
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
