<form [formGroup]="bookForm" (ngSubmit)="updateConfirmation()">
  <div class="grid p-fluid mt-1">
    <div class="col-12 md:col-4">
        <span class="p-float-label">
            <input
              pTooltip="Enter book Name"
              id="float-input-name"
              type="text"
              pInputText
              formControlName="name"
            />
          <label for="float-input-pages">Book Name</label>
          <small class="p-error block"
                 *ngIf="bookForm.get('name')?.invalid && bookForm.get('name')?.dirty">
            Book Name is required</small>
        </span>
    </div>
  </div>

  <div class="grid p-fluid justify-content-between mt-1">
    <div class="col-12 md:col-4">
      <div>
        <span class="flex align-items-center"><i class="material-icons pl-1">psychology</i><h5>Authors:</h5></span>
        <p-multiSelect
          pTooltip="Select one or more authors"
          [options]="authors"
          formControlName="authors"
          defaultLabel="Select Authors"
          optionLabel="name"
        >
        </p-multiSelect>
        <small class="p-error block"
               *ngIf="bookForm.get('authors')?.invalid && bookForm.get('authors')?.dirty">
          At least one Author is required</small>
      </div>
    </div>
    <div class="col-12 md:col-4" >
      <div>
        <span class="flex align-items-center"><i class="material-icons pl-1">category</i><h5>Genres:</h5></span>
        <p-multiSelect
          pTooltip="Select one or more genres"
          [options]="genres"
          formControlName="genres"
          defaultLabel="Select Genres"
          optionLabel="name"
        ></p-multiSelect>
        <small class="p-error block"
               *ngIf="bookForm.get('genres')?.invalid && bookForm.get('genres')?.dirty">
          At least one Genre is required</small>
      </div>
    </div>
  </div>

  <div class="grid p-fluid mt-2">
    <div class="col-12 md:col-4">
        <span class="p-float-label">
            <p-inputNumber
              id="float-input-pages"
              pTooltip="Enter the number of pages"
              inputId="minmax"
              mode="decimal"
              [max]="20000"
              formControlName="pages"
            ></p-inputNumber>
            <label for="float-input-pages">Nº of Pages</label>
            <small class="p-error block"
                   *ngIf="bookForm.get('pages')?.invalid && bookForm.get('pages')?.dirty">
            Number of Pages is required</small>
        </span>
    </div>
    <div class="col-12 md:col-4">
        <span class="p-float-label">
            <p-inputNumber
              id="float-input-year"
              pTooltip="Insert launch year"
              [useGrouping]="false"
              [max]="2024"
              inputId="yearpicker"
              formControlName="publicationYear"
            ></p-inputNumber>
            <label for="float-input-year">Year</label>
            <small class="p-error block"
                   *ngIf="bookForm.get('publicationYear')?.invalid && bookForm.get('publicationYear')?.dirty">
            Publication Year is required</small>
        </span>
    </div>
    <div class="col-12 md:col-4">
        <span class="p-float-label">
            <input
              pTooltip="Enter book Asin"
              id="float-input-asin"
              type="text"
              pInputText
              formControlName="asin"
            />
            <label for="float-input-asin">ASIN</label>
            <small class="p-error block"
                   *ngIf="bookForm.get('asin')?.invalid && bookForm.get('asin')?.dirty">
            Asin or ISBN code is required</small>
        </span>
    </div>
  </div>
  <div class="grid p-fluid mt-3">
    <div class="col-12 md:col-4">
        <span class="p-float-label" pTooltip="Enter book Summary" >
            <textarea
              id="float-input-summary"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="summary"
            ></textarea>
        <label for="float-input-summary">Summary</label>
            <small class="p-error block"
                   *ngIf="bookForm.get('summary')?.invalid && bookForm.get('summary')?.dirty">
            Summary text is required</small>
        </span>
    </div>
  </div>
  <div class="grid p-fluid mt-1">
    <div class="col-12 md:col-4">
      <div>
        <span class="flex align-items-center"><i class="material-icons pl-1">business_center</i><h5>Publisher:</h5></span>
        <p-dropdown
          [optionValue]="''"
          [options]="publishers"
          formControlName="publisher"
          placeholder="Select Publisher"
          optionLabel="name"
        ></p-dropdown>
        <small class="p-error block"
               *ngIf="bookForm.get('publisher')?.invalid && bookForm.get('publisher')?.dirty">
          Publisher is required</small>
      </div>
    </div>
  </div>
  <div class="grid p-fluid mt-2">
    <div class="col-12 md:col-4">
      <p-image class="hover:shadow-8" src="{{imgLinkDefault}}" alt="Image"  width="250px" height="300px" [preview]="true"></p-image>
    </div>
    <div class="col-12 md:col-4">
      <h5 class="mb-1">Book Cover Link:</h5>
      <span class="p-inputgroup w-30rem">
            <input
              type="text"
              pInputText pTooltip="Insert book cover Link"
              placeholder="Book Cover Link"
              formControlName="bookCover"
              [(ngModel)]="imgLinkDefault"/>
        </span>
      <small class="p-error block"
             *ngIf="bookForm.get('bookCover')?.invalid && bookForm.get('bookCover')?.dirty">
        Book Cover Link is required</small>
      <p-messages></p-messages>
    </div>
  </div>
  <div class="flex align-items-end justify-content-end">
    <div class="book-create">
      <button type="submit" mat-raised-button color="primary" [disabled]="bookForm.invalid">Create<i class="material-icons">add_circle_outline</i></button>
    </div>
    <div class="book-cancel-update">
      <button type="button" mat-raised-button color="warn" (click)="closeForm()" >Cancel<i class="material-icons">cancel</i></button>
    </div>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</form>
