.footer{
    height: 6rem;
    position: absolute;
    bottom: -5.1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 35, 35);
    margin-top: 60px;
}

p {
    color: antiquewhite;
    margin: 0;
    background-color: rgb(44, 42, 42);
    padding: 0 8%;

}
