
:host ::ng-deep .dark-panel {
    width: 80%;
    height: 40%;
    margin: 1rem auto 2rem auto;

    background-color: rgb(0, 0, 0);

    .p-card-header{
        color: antiquewhite;
        padding-top: 1rem;
    }
    .p-card-content{
        color: grey;
    }

    .p-card-header,.p-card-content, img{

        padding-left: 5rem;
    }


    img{
        margin: auto;
    }
}
