.users-button {
  margin-right: 20px;
  button {
    font-weight: bolder;
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
.users-cancel{
  button {
    font-weight: bolder;
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
