.book-update {
  margin-right: 20px;
  button {
    font-weight: bolder;
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
.book-cancel-update{
  button {
    font-weight: bolder;
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }
}
